on property:dev.bootcomplete=1
    # The display is somehow set to the wrong mode
    # even when we have already removed all non-default
    # modes from kernel device tree.
    # Hack: reset the display by enabling/disabling
    # HBM and P3 mode quickly.
    write /sys/class/drm/card0-DSI-1/hbm 5
    write /sys/class/drm/card0-DSI-1/hbm 0
    write /sys/class/drm/card0-DSI-1/DCI_P3 1
    write /sys/class/drm/card0-DSI-1/DCI_P3 0

